 <div class="row">

   <div class="col-sm-7">
     <h1>Data Charmer</h1>
      <p>putting hand in data hole</p>
      <pre>
        * Machine learning to build better bug triage systems
        * Versioning algorithms for PLC programming languages
        * Prediction systems for water management solutions and smart grid
      </pre>
   </div>
   <div class="col-sm-4">
     <h3>Anand Rath</h3><img src="./images/datacharmer.jpeg"  alt="Anand">
   </div>
 </div>
 <div class="row">
  <br>
  <br>
  <br>
 </div>
 <hr>
 <div class="row">
   <div class="col-sm-4">
          <h3>Nilakantha S Deo</h3><img src="./images/vagabond.jpg" style="width:70%;"alt="">
   </div>

   <div class="col-sm-6">
     <h1>Vagabond</h1>
      <p>putting hand in everywhere</p>
      <pre>
        * Wanderer
        * Lost and found
        * Again lost
      </pre>
   </div>

 </div>
